body{ 
    background-color: #eeeeee;
    /* local */
    /*background: url("../images/mountains1.jpg"); */
    /* not local */
    /*background: url("http://imagesci.com/img/2013/11/cool-planet-wallpaper-1884-hd-wallpapers.jpg"); */
    background-attachment: fixed;
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center center;
    color: blue;
    font-size: 18px;
    padding: 0px 10px ;
  }
  h1{ color: blue; font-family: sans-serif; text-align: center; font-size: 26px;}
  h2{ color: blue; font-family: sans-serif; text-align: center; font-size: 22px;}
  h3{ color: blue; font-family: sans-serif; text-align: center; font-size: 20px;}

  .btn{
  /*  -webkit-border-radius: 20px;
    -moz-border-radius: 20px; 
  */
    border-radius: 20px;
    font-size: 22px;
  }
  #submit {
    background-color: #ccc;
  /*  -moz-border-radius: 5px;
    -webkit-border-radius: 5px;
  */
    border-radius:6px;
    color: #fff;
    font-family: 'Oswald';
    font-size: 16px;
    text-decoration: none;
    cursor: crosshair;
    border:none;
    padding: 7px;
  }

  #submit:hover, .btn:hover {
    background:red;
    box-shadow: 0px 0px 1px #777; 
  }
  .diff_title:hover {
    color: red;
    position: relative;
  }
  .diff_title[data-title]:hover:after  {
    content: attr(data-title);
    font-size: 70%;
    padding: 4px 8px;
    color: #333;
    position: absolute;
    left: 0;
    top: 100%;
    white-space: nowrap;
    z-index: 10px;
  /*  -moz-border-radius: 5px;
    -webkit-border-radius: 5px;
  */
    border-radius: 5px;
  /*  -moz-box-shadow: 0px 0px 4px #222;
    -webkit-box-shadow: 0px 0px 4px #222;
  */
    box-shadow: 0px 0px 4px #222;
    /*background-image: -moz-linear-gradient(top, #eeeeee, #cccccc);
    background-image: -webkit-gradient(linear,left top,left bottom,color-stop(0, #eeeeee),color-stop(1, #cccccc));
    background-image: -webkit-linear-gradient(top, #eeeeee, #cccccc);
    background-image: -moz-linear-gradient(top, #eeeeee, #cccccc);
    background-image: -ms-linear-gradient(top, #eeeeee, #cccccc);
    background-image: -o-linear-gradient(top, #eeeeee, #cccccc);
    */
  }

  .ul_tops{ color: #FF0000; font-size: 22px;}
  .ul_tops1{ color: #696969; font-size: 20px;}


  .important { color: red; font-weight: 600; text-decoration: underline;}